<!-- 导航栏 -->
{{#if logo }}
    <img src="/images/logo2.png" alt="唐图文创" class="logo" />
{{/if}}
<ul class="navbar">
    <li><a href="/" {{#if isIndex  }} style="color:#f4f4f4;" {{/if}} {{#if isAbout }} style='color:#f4f4f4' {{/if}}>{{ navbar.index }}</a></li>
    <li><a href="/products" {{#if isIndex  }} style="color:#f4f4f4;" {{/if}} {{#if isAbout }} style='color:#f4f4f4' {{/if}}>{{navbar.products}}</a></li>
    <li><a href="/service" {{#if isIndex }} style="color:#f4f4f4;" {{/if}} {{#if isAbout }} style='color:#f4f4f4' {{/if}}>{{navbar.service}}</a></li>
    <li><a href="/about" {{#if isIndex  }} style="color:#f4f4f4;" {{/if}} {{#if isAbout }} style='color:#f4f4f4' {{/if}}>{{navbar.about}}</a></li>
    <li><a href="/marketing" {{#if isIndex  }} style="color:#f4f4f4;" {{/if}} {{#if isAbout }} style='color:#f4f4f4' {{/if}}>{{navbar.marketing}}</a></li>
    <li><a href="/career" {{#if isIndex  }} style="color:#f4f4f4;" {{/if}} {{#if isAbout }} style='color:#f4f4f4' {{/if}}>{{navbar.career}}</a></li>
    <li><a href="/contact" {{#if isIndex  }} style="color:#f4f4f4;" {{/if}} {{#if isAbout }} style='color:#f4f4f4' {{/if}}>{{navbar.contact}}</a></li>
    <li><i {{#if isIndex  }} style="color:#f4f4f4;" {{/if}} class="fa fa-search fa-lg" aria-hidden="true" class="md-only"></i></li>
    <li><a href="#" id="language" {{#if isIndex  }} style="color:#f4f4f4;" {{/if}} {{#if isAbout }} style='color:#f4f4f4' {{/if}}>CN <span class="caret"></span></a></li>
</ul>
<style>
    .logo {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 8%;
        z-index: 10;
    }
    /*导航栏*/

    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding-top: 1em;
        padding-left: 10em;
        font-size: 16px;
        z-index: 100;
        text-align: right;
    }

    .navbar li {
        display: inline-block;
        margin: 0 0.5em;
    }

    .navbar li a {
        display: block;
        line-height: 100%;
        padding: 0.8em 1.2em;
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;
        color: #000;
        border: 2px solid transparent;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .navbar li:hover a {
        border: 2px solid orange;
    }

    #language {
        border: 2px solid transparent;
    }

    @media (max-width:768px) {
        .navbar {
            display: none;
        }
    }
</style>
