<div class="col-md-12 col-sm-12 col-xs-12 navbar-static-top">
  <ul class="navbar col-md-offset-5">
    <li><a href="/">{{ navbar.index }}</a></li>
    <li><a href="/product">{{navbar.product}}</a></li>
    <li><a href="/service">{{navbar.service}}</a></li>
    <li><a href="/about">{{navbar.about}}</a></li>
    <li><a href="/marketing">{{navbar.marketing}}</a></li>
    <li><a href="/career">{{navbar.career}}</a></li>
    <li><a href="/contact">{{navbar.contact}}</a></li>
    <li><i class="fa fa-search fa-lg" aria-hidden="true" class="md-only"></i></li>
    <li><a href="#" id="language">CN <span class="caret"></span></a></li>
  </ul>
</div>
