<div class="container">
    <img src="/images/products/products.png" alt="我们的产品" class="products-background" />
    <ul class="products-list">
        <li class="products-list-item">
            <img src="/images/products/intel.png" alt="智能产品" />
            <a href="#">智能产品</a>
        </li>
        <li class="products-list-item">
            <img src="/images/products/gift.png" alt="礼品系列" />
            <a href="#">礼品系列</a>
        </li>
        <li class="products-list-item">
            <img src="/images/products/daily.png" alt="日常用品" />
            <a href="#">日常用品</a>
        </li>
    </ul>
</div>
<div class="container products-container clearfix">
    <div class="products-tag">
        <ul class="tag-list">
            <li class="tag-item ">智能产品系列</li>
            <span class="divider">
              <span class="divider-inner active" ></span>
            </span>
            <li class="tag-item">日常产品系列</li>
            <span class="divider">
          <span class="divider-inner" style="width:0px"></span>
            </span>
            <li class="tag-item">礼品系列</li>
            <span class="divider">
          <span class="divider-inner" style="width:0px"></span>
            </span>
        </ul>
    </div>
    <div class="list-viewport">
        <div class="list-wrapper">
          <ul class="intel-list" style="left:0px">
              {{#each intel }}
                  <li class="intel-item">
                      <div class="mask">
                        <p>
                          <a href="{{this.route}}">{{this.name}}</a>
                          {{this.description}}
                        </p>
                      </div>
                      <img src="{{this.src}}" alt="" />
                  </li>
              {{/each}}
          </ul>
      </div>
    </div>
    <i class="fa fa-chevron-left fa-5x go-left" aria-hidden="true" id="goLeft"></i>
    <i class="fa fa-chevron-right fa-5x go-right" aria-hidden="true" id="goRight"></i>
</div>
<div class="container products-container clearfix">
    <div class="products-tag">
        <ul class="tag-list">
            <li class="tag-item ">智能产品系列</li>
            <span class="divider">
              <span class="divider-inner active" ></span>
            </span>
            <li class="tag-item">日常产品系列</li>
            <span class="divider">
          <span class="divider-inner" style="width:0px"></span>
            </span>
            <li class="tag-item">礼品系列</li>
            <span class="divider">
          <span class="divider-inner" style="width:0px"></span>
            </span>
        </ul>
    </div>
    <div class="list-viewport">
        <div class="list-wrapper">
          <ul class="intel-list" style="left:0px">
              {{#each intel }}
                  <li class="intel-item">
                      <div class="mask">
                        <p>
                          <a href="{{this.route}}">{{this.name}}</a>
                          {{this.description}}
                        </p>
                      </div>
                      <img src="{{this.src}}" alt="" />
                  </li>
              {{/each}}
          </ul>
      </div>
    </div>
    <i class="fa fa-chevron-left fa-5x go-left" aria-hidden="true" id="goLeft"></i>
    <i class="fa fa-chevron-right fa-5x go-right" aria-hidden="true" id="goRight"></i>
</div>
<div class="container products-container clearfix">
    <div class="products-tag">
        <ul class="tag-list">
            <li class="tag-item ">智能产品系列</li>
            <span class="divider">
              <span class="divider-inner active" ></span>
            </span>
            <li class="tag-item">日常产品系列</li>
            <span class="divider">
          <span class="divider-inner" style="width:0px"></span>
            </span>
            <li class="tag-item">礼品系列</li>
            <span class="divider">
          <span class="divider-inner" style="width:0px"></span>
            </span>
        </ul>
    </div>
    <div class="list-viewport">
        <div class="list-wrapper">
          <ul class="intel-list" style="left:0px">
              {{#each intel }}
                  <li class="intel-item">
                      <div class="mask">
                        <p>
                          <a href="{{this.route}}">{{this.name}}</a>
                          {{this.description}}
                        </p>
                      </div>
                      <img src="{{this.src}}" alt="" />
                  </li>
              {{/each}}
          </ul>
      </div>
    </div>
    <i class="fa fa-chevron-left fa-5x go-left" aria-hidden="true" id="goLeft"></i>
    <i class="fa fa-chevron-right fa-5x go-right" aria-hidden="true" id="goRight"></i>
</div>
<style media="screen">
    .fa {
        color: rgba(0, 0, 0, 0.5);
    }
    .active{
      width: 50%;
    }
    .products-background {
        width: 100%;
    }
    .products-list {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        padding: 0 14%;
        margin-top: -10%;
    }
    .products-list-item {
        width: 28%;
        display: inline-block;
        margin: 0% 2%;
        text-align: center;
    }
    .products-list-item img {
        width: 60%;
    }
    .products-list-item a {
        display: block;
        font-size: 40px;
        color: #fff;
        margin-top: 20%;
    }
    /*产品*/
    .products-container {
        margin: 4% 0;
    }
    /*标签*/
    .products-tag {
        float: left;
        width: 10%;
        padding: 2% 1%;
        font-weight: bold;
        background-color: #ddd;
    }
    .tag-list {
        width: 100%;
        padding: 10% 2% 10% 0;
        margin: 0;
    }
    .tag-item {
        width: 100%;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        line-height: 200%;
    }
    .divider {
        display: block;
        width: 80%;
        height: 4px;
        margin: 0 auto;
    }
    .divider-inner {
        display: block;
        height: 100%;
        background: #00a497;
    }
    .go-left,.go-right{
      position: absolute;
      display: block;
      width: 4%;
      height: 100%;
      z-index: 100;
      top: 0;
      text-align: center;
      line-height: 6.4;
    }
    .go-right {
      width: 6%;
      right: 0%;
      background-color: #ddd;
    }
    .go-left {
      left: 14%;
    }
    .go-left:hover{
      color: #000;
    }
    .go-right:hover{
      color: #000;
    }
    .list-viewport {
        position: relative;
        float: right;
        width: 86%;
        padding: 2% 0% 2% 0%;
        background-color: #ddd;
    }
    .list-wrapper{
      width: 100%;
      overflow: hidden;
    }
    .intel-list {
        position: relative;
        width: 3056px;
        left: 0;
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
    .intel-item {
        position: relative;
        float: left;
    }
    .intel-item img {
      width: 382px;
    }

    .intel-item .mask{
      display: none;
      text-align: center;
    }
    .intel-item:hover .mask{
      display: block;
    }
    .mask a{
      display: block;
      margin-top: 32%;
      font-size: 24px;
      margin-bottom: 4%;
    }
    .mask p{
      letter-spacing: 1px;
      color: #fff;
      font-size: 16px;
      padding: 2% 10%;
    }
    .mask:hover{
      opacity: 0.8;
    }
    @media (max-width:768px) {
        .logo{
          display: none;
        }
        #goRight,#goLeft{
          font-size: 20px;
        }
        .products-list-item a {
            font-size: 12px;
        }
        .products-tag{
          display: none;
        }
        .list-viewport{
          width: 100%;
          margin-top: 6%;
        }
        .mask p{
          font-size: 10px;
        }
        .mask a{
          font-size: 12px;
        }
    }
</style>

<script type="text/javascript">
    var tagItem = Array.from(document.querySelectorAll('.tag-item'))
    var dividerInner = Array.from(document.querySelectorAll('.divider-inner'))
    for(var l = 1;l<dividerInner.length;l++){
      dividerInner[l].style.width = '0px'
    }
    for (var i = 0; i < tagItem.length; i++) {
        (function(j){
          tagItem[j].addEventListener('click', function() {
            for(var k = 0;k<dividerInner.length;k++){
              dividerInner[k].style.width = '0px'
            }
            if(dividerInner[j].style.width !== '0px'){
              return
            }
            wilder(dividerInner[j],1)
          })
        })(i)
    }

    function wilder(ele,target){
      ele.style.width = String(target) + 'px'
      setTimeout(function(){
        if(target <= 120){
          return wilder(ele,target + 1)
        }
      },1)
    }

    var goLeft = document.querySelectorAll('#goLeft'),
        goRight = document.querySelectorAll('#goRight')

    var listWrapper = document.querySelectorAll('.list-wrapper'),
        intelList  = document.querySelectorAll('.intel-list')


      for(var a = 0;a < goLeft.length;a++){
        (function(i){
          goLeft[i].addEventListener('click',function(){
            var listLeft = parseInt(intelList[i].style.left.slice(0,-2))
            var imgWidth = intelList[i].querySelector('li img').width
            intelList[i].style.left = (listLeft - imgWidth) + 'px'
          })
        })(a)
    }


    // var innerH = window.innerHeight
    // console.log(innerH)
</script>
