<div class="container">
    <img src="/images/products/products.png" alt="我们的产品" class="products-background" />
    <ul class="products-list">
        <li class="products-list-item">
            <img src="/images/products/intel.png" alt="智能产品" />
            <a href="#tag-intel">智能产品</a>
        </li>
        <li class="products-list-item">
          <img src="/images/products/daily.png" alt="日常用品" />
          <a href="#tag-daily">日常用品</a>
        </li>
        <li class="products-list-item">
            <img src="/images/products/gift.png" alt="礼品系列" />
            <a href="#tag-gift">礼品系列</a>
        </li>
    </ul>
</div>
<div class="container products-container intel-container clearfix">
    <div class="products-tag intel-tag" id="tag-intel">
        <ul class="tag-list">
            <li class="tag-item"> 智能产品系列</li>
            <span class="divider">
              <span class="divider-inner active" ></span>
            </span>
            <li class="tag-item">日常产品系列</li>
            <span class="divider">
          <span class="divider-inner" style="width:0px"></span>
            </span>
            <li class="tag-item">礼品系列</li>
            <span class="divider">
          <span class="divider-inner" style="width:0px"></span>
            </span>
        </ul>
    </div>
    <div class="list-viewport">
        <div class="list-wrapper">
          <ul class="intel-list" style="left:0px">
              {{#each intel }}
                  <li class="intel-item">
                      <div class="mask">
                        <p>
                          <a href="{{this.route}}">{{this.name}}</a>
                          {{this.description}}
                        </p>
                      </div>
                      <img src="{{this.src}}" alt="" />
                  </li>
              {{/each}}
          </ul>
      </div>
    </div>
    <i class="fa fa-chevron-left fa-5x go-left" aria-hidden="true" id="goLeft"></i>
    <i class="fa fa-chevron-right fa-5x go-right" aria-hidden="true" id="goRight"></i>
</div>
<div class="container products-container daily-container clearfix">
    <div class="products-tag daily-tag" id="tag-daily">
        <ul class="tag-list" >
            <li class="tag-item ">智能产品系列</li>
            <span class="divider">
              <span class="divider-inner" style="width:0px"></span>
            </span>
            <li class="tag-item">日常产品系列</li>
            <span class="divider">
          <span class="divider-inner active"></span>
            </span>
            <li class="tag-item">礼品系列</li>
            <span class="divider">
          <span class="divider-inner" style="width:0px"></span>
            </span>
        </ul>
    </div>
    <div class="list-viewport daily-viewport">
        <div class="list-wrapper daily-wrapper">
          <ul class="intel-list" style="left:0px">
              {{#each intel }}
                  <li class="intel-item">
                      <div class="mask">
                        <p>
                          <a href="{{this.route}}">{{this.name}}</a>
                          {{this.description}}
                        </p>
                      </div>
                      <img src="{{this.src}}" alt="" />
                  </li>
              {{/each}}
          </ul>
      </div>
    </div>
    <i class="fa fa-chevron-left fa-5x go-left daily-goLeft" aria-hidden="true" id="goLeft"></i>
    <i class="fa fa-chevron-right fa-5x go-right daily-goRight" aria-hidden="true" id="goRight"></i>
</div>
<div class="container products-container gift-container clearfix">
    <div class="products-tag">
        <ul class="tag-list gift-tag"  id="tag-gift">
            <li class="tag-item">智能产品系列</li>
            <span class="divider">
              <span class="divider-inner" style="width:0px" ></span>
            </span>
            <li class="tag-item">日常产品系列</li>
            <span class="divider">
                <span class="divider-inner" style="width:0px"></span>
            </span>
            <li class="tag-item">礼品系列</li>
            <span class="divider">
          <span class="divider-inner active"></span>
            </span>
        </ul>
    </div>
    <div class="list-viewport">
        <div class="list-wrapper">
          <ul class="intel-list" style="left:0px">
              {{#each intel }}
                  <li class="intel-item">
                      <div class="mask">
                        <p>
                          <a href="{{this.route}}">{{this.name}}</a>
                          {{this.description}}
                        </p>
                      </div>
                      <img src="{{this.src}}" alt="" />
                  </li>
              {{/each}}
          </ul>
      </div>
    </div>
    <i class="fa fa-chevron-left fa-5x go-left" aria-hidden="true" id="goLeft"></i>
    <i class="fa fa-chevron-right fa-5x go-right" aria-hidden="true" id="goRight"></i>
</div>
<style media="screen">
    .fa {
        color: #bbc8e6;
    }
    .active{
      width: 100%;
    }
    .products-background {
        width: 100%;
    }
    .products-list {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        padding: 0 14%;
        margin-top: -10%;
    }
    .products-list-item {
        width: 28%;
        display: inline-block;
        margin: 0% 2%;
        text-align: center;
    }
    .products-list-item img {
        width: 60%;
    }
    .products-list-item a {
        display: block;
        font-size: 40px;
        color: #fff;
        margin-top: 20%;
    }
    /*产品*/
    .products-container {
        margin: 4% 0;
    }
    /*标签*/
    .products-tag {
        float: left;
        width: 12%;
        padding: 2% 1%;
        font-weight: bold;
        background-color: #ddd;
    }
    .daily-tag{
      float: right;
    }
    .tag-list {
        width: 100%;
        margin: 0;
        padding: 10% 2% 10% 0;
    }
    .tag-item {
        width: 100%;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        line-height: 200%;
    }
    .divider {
        display: block;
        width: 80%;
        height: 4px;
        margin: 0 auto;
    }
    .divider-inner {
        display: block;
        height: 100%;
        background: #bbc8e6;
    }
    .go-left,.go-right{
      position: absolute;
      display: block;
      width: 4%;
      height: 100%;
      z-index: 100;
      top: 0;
      text-align: center;
      line-height: 6.4;
    }
    .go-right {
      width: 6%;
      right: 0%;
      background-color: #ddd;
    }
    .go-left {
      left: 14%;
    }
    .daily-goLeft{
      left: 0%;
    }
    .daily-goRight{
      right: 14%;
    }
    .go-left:hover{
      color: rgba(0, 0, 0, 0.2);
    }
    .go-right:hover{
        color: rgba(0, 0, 0, 0.2);
    }
    .list-viewport {
        position: relative;
        float: right;
        width: 86%;
        padding: 2% 0% 2% 0%;
        background-color: #ddd;
    }
    .daily-viewport{
      float: left;
    }
    .list-wrapper{
      width: 100%;
      overflow: hidden;
    }
    .intel-list {
        position: relative;
        width: 3820px;
        left: 0;
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
    .intel-item {
        position: relative;
        float: left;
    }
    .intel-item img {
      width: 382px;
    }
    .intel-item .mask{
      display: none;
      text-align: center;
    }
    .intel-item:hover .mask{
      display: block;
    }
    .mask a{
      display: block;
      margin-top: 32%;
      font-size: 24px;
      margin-bottom: 4%;
    }
    .mask p{
      letter-spacing: 1px;
      color: #fff;
      font-size: 16px;
      padding: 2% 10%;
    }
    .mask:hover{
      opacity: 0.8;
    }
    @media (max-width:768px) {
        .logo{
          display: none;
        }
        .products-list-item a {
            font-size: 12px;
        }
        .products-tag{
          display: none;
        }
        .daily-container{
          display: none;
        }
        .gift-container{
          display: none;
        }
        .list-viewport{
          width: 100%;
          margin-top: 6%;
        }
        .intel-list{
          width: 2400px;
        }
        .intel-item img{
          width: 240px;
        }
        .go-left,.go-right{
          font-size: 34px;
          top: 10%;
          height: 240px;
          line-height: 240px;
        }
        .go-right{
          background-color: transparent;
        }
        .go-left{
          left: 0%;
        }
        .mask p{
          font-size: 10px;
        }
        .mask a{
          font-size: 12px;
        }
    }
</style>
<script type="text/javascript">
    var tagItem = Array.from(document.querySelectorAll('.tag-item'))
    var dividerInner = Array.from(document.querySelectorAll('.divider-inner'))

    for (var i = 0; i < tagItem.length; i++) {
        (function(j){
          tagItem[j].addEventListener('click', function() {
            for(var k = 0;k<dividerInner.length;k++){
              dividerInner[k].style.width = '0px'
            }
            if(dividerInner[j].style.width !== '0px'){
              return
            }
            wilder(dividerInner[j],1)
          })
        })(i)
    }
    function wilder(ele,target){
      ele.style.width = String(target) + 'px'
      setTimeout(function(){
        if(target <= 120){
          return wilder(ele,target + 1)
        }
      },1)
    }

    var goLeft = document.querySelectorAll('#goLeft'),
        goRight = document.querySelectorAll('#goRight')

    var listWrapper = document.querySelectorAll('.list-wrapper'),
        intelList  = document.querySelectorAll('.intel-list')

    var imgs = intelList[0].querySelectorAll('li img')
    var imgsTotalWidth = 0
    for(var c = 0;c < imgs.length;c++){
      imgsTotalWidth += imgs[c].width
    }
    var imgWidth =  imgsTotalWidth / imgs.length

    for(var d =0;d<intelList.length;d++){
      intelList[d].style.left = -imgWidth * 2 + 'px'
    }

    var step = imgWidth * 2 / 80
    for(var a = 0;a < goLeft.length;a++){
        (function(i){
          goLeft[i].addEventListener('click',function(){
            var timer = setInterval(function(){
              var listLeft = parseInt(intelList[i].style.left.slice(0,-2))
              if(listLeft <= -imgWidth * 4 ){
                clearInterval(timer)
              }else{
                intelList[i].style.left = (listLeft + -step) + 'px'
              }
            },1)
            goRight[i].style.display = "block"
            goLeft[i].style.display = "none"
          })
        })(a)
    }
    for(var b = 0;b < goRight.length;b++){
      (function(i){
        goRight[i].addEventListener('click',function(){
          var timer = setInterval(function(){
            var listLeft = parseInt(intelList[i].style.left.slice(0,-2))
            if(listLeft >= 0 ){
              clearInterval(timer)
            }else{
              intelList[i].style.left = (listLeft + step) + 'px'
            }
          },1)
          goRight[i].style.display = "none"
          goLeft[i].style.display = "block"
        })
      })(b)
  }
</script>
